*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    outline-color:rgb(127, 132, 85);
   
    transition: outline-color 1s;
}

.profile-link{
    text-align:center;
    float:right;
    display:block;
    width:auto;
    margin:0 10px 10px 10px;
    color:rgb(149, 150, 100);
    padding:10px;
    background:rgb(38, 49, 26);
    border:rgb(60, 71, 42) 2px solid;
    border-radius:4px;
    text-decoration:none;
}

.profile-link:visited{
    color:rgb(150, 149, 102);
}

a:visited{
    color:rgb(86, 86, 86);
}

html{
    box-sizing: content-box;   
    height:100%; 
}

body{
    height:100%;
    background-color:rgb(38, 49, 26);
    color:rgb(222, 223, 161);
    grid-template-columns:auto auto auto;
    margin:0 auto;
    transition: background-color .5s;
}

::-webkit-scrollbar{
    width:3px;
}

::-webkit-scrollbar-track{
    background:rgb(38, 49, 26);
}

::-webkit-scrollbar-thumb{
    background:rgb(127, 132, 85);
}

.whole-spiel{
    margin-bottom:80px;
}

.spacer{
    padding:50px;
}

.gallery{
    width:100%;
    text-align:center;
}

.thumbnail{
    width:200px;
    margin-right:5px;
    
}

.thumbnail:hover{
    cursor: pointer;
}

.tab-title{
    float:left;
    text-align:left;
    width:100%;
    margin-bottom:10px;
}

.content-box{
    display: flex;
    grid-gap:10px;
    padding:20px;

    font-size:18px;

    text-align:justify;
    text-justify:inter-word;
    
    margin:0 auto;
    background-color:rgb(9, 23, 9);
    border-radius:5px;
    border:rgb(127, 132, 85, .5) solid;
    max-width:600px;
    transition: background-color .5s, color .5s, max-width .25s, border .5s;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:15px;    
    
    background-color:rgb(9, 23, 9);
    border-bottom: rgb(127, 132, 85, .5) solid;
    box-shadow:0 5px 5px rgba(9, 23, 9, 0.50);

    transition: background-color 1s, color 1s, border-bottom 1s, box-shadow 1s;
}

.dropbtn{
    position:relative;
    display:inline-block;
}

.genre-buttons{
    text-align:center;
    display: none;
    position: absolute;
    margin:0 auto;
    background-color:rgb(9, 23, 9);
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,1);
    border:rgb(38, 49, 26) solid 4px;
    /* border-top:none; */

    z-index: 2;
    float:left;
    clear:both;
}

.genre-buttons button{
    width:100%;
    border:none;
    padding:5px 0 5px 0;
    font-size:18px;
    background-color:rgb(38, 49, 26);
    color:rgb(222, 223, 161);
    margin-bottom:5px;
    border-radius:5px;
    border: rgb(9, 23, 9) solid;

    transition: background-color .25s;
}

.genre-buttons button:hover{
    background-color:rgb(60, 71, 42);
    cursor:pointer;
}

.navbar{
    width:70%;
    margin:0 auto;
}

#navbar-header{
    padding:10px;
    font-size:36px;
    text-shadow:0 0 5px lightgreen;
    transition: text-shadow .5s;
    width:200px;
}

#navbar-header::after{
    content:""
}

.navbuttons{
    float:right;
}

#portrait{
    width:200px;
    float:left;
    margin-right:15px;
    border:rgb(222, 223, 161) solid;
    border-radius:10px;
    transition: width .25s;
}

.info{
    transition: opacity .5s;
}

.info p{
    transition: opacity .25s, font-size .25s;
    /* text-decoration:underline;
    text-decoration-color:rgb(78, 88, 50);
    text-decoration-style: solid;
    text-decoration-skip-ink: none; */
    text-align:justify;
    text-justify:inter-word;
}

.tabs {
    border:none;
    color:inherit;
    background-color:rgb(60, 71, 42);
    padding:10px;
    border-radius:3px;
    border: inherit solid;
    font-size:18px;

    transition: color .25s, background-color .25s, text-shadow .25s, font-size .25s, padding .25s;
}

.tabs:hover{
    cursor:pointer;
    background-color:rgb(41, 57, 31);
    color:rgb(222, 223, 161);
    text-shadow: 0 0 5px lightgreen;
    font-size:20px;
    padding:5px;
}

.dropbtn:hover .genre-buttons{
    display:block;
}

#image-view{
    display:none;
    text-align:center;
    width:100%;
    height:100%;
    margin: 1em auto;
    
    background:rgba(20, 20, 20, 0.65);
    position:fixed;
    top:0;
    left:0;
    z-index:5;
}

.full-image{
    width: auto;
    max-width:100%;
    height:auto;
    max-height:75%;

    z-index:6;
}

.link-thumbnail{
    width:150px;
    color:lightgrey;
    background:rgb(42, 42, 42);
    padding:10px;
    border:lightgrey solid 1px;
    border-radius:4px;
    margin:10px;
    text-decoration:none;
}

.link-thumbnail:hover{
    cursor:pointer;
}

.image-subtitle{
    margin:0 auto;
    background:rgba(10, 10, 10, 0.90);
    padding:5px;
    font-size:26px;
    color:white;
    /* position:absolute;
    bottom:0;
    left:0; */
    width:100%;
}

.image-subtitle p {
    color:lightgrey;
    font-size:20px;
    font-style:italic;
}

.image-subtitle-dark{
    color:grey;
    /* position:fixed;
    top:0;
    left:0; */
    width:100%;
    padding:15px;
    background:rgba(0, 0, 0, 0.9);
}

footer{
    width:100%;
    text-align:center;
    padding:5px;
    background:rgb(9, 23, 9, .75);
    color:rgb(127, 132, 85);
    position:fixed;
    bottom:0;
    left:0;

    transition: background .5s, color .5s;
}


@media screen and (min-width:1140px){
    .content-box{
        max-width:800px;
    }


    
    .info{
        font-size:24px;
    }

    #portrait{
        width:300px;
    }

    .navbar{
        width:800px;
    }
}

/* small window */
@media screen and (max-width:745px){

    #navbar-header{
        float:none;
        width:100%;
        font-size:28px;
        clear:both;
        display:block;
    }

    .spacer{
        padding:65px;
    }

    h1{
        text-align:center;
    }

    .tabs{
        font-size:20px;
    }

    .tabs:hover{
        font-size:26px;
        /* padding:4px; */
    }
    .navbuttons{
        
        float:none;
        margin:0 auto;
    }

    .navbar{
        text-align:center;
        width:100%;
    }
    nav{
        padding:5px;
    }

}

@media screen and (max-width:590px){
    #portrait{
        margin:0 auto;
        display:block;
        width:300px;
        float:none;
    }

    .info{    
        width:590px;
    }

    .profile-link{
        float:none;
        font-size:20px;
        padding:10px;
        width:60%;
        
        margin:5px auto;
    }

    .content-box{
        margin:0 auto;
        width:90%;
    }
}

/* phone screen */
@media screen and (max-width: 490px){
    .content-box{
        max-width:100%;
        width:100%; 
    }

    nav{
        position:fixed;
        top:0;
        left: 0;
        padding:5px;
    }

    .spacer{
        padding:35px;
    }

    .navbuttons{
        background:rgb(9, 23, 9, .75);
    
        position:fixed;
        bottom:30px;
        left:0;
        text-align:center;
        width:100%;
        z-index:5;
    }

    .link-thumbnail{
        float:left;
        width:100%;
        margin:15px auto;
    }

    .genre-buttons{
        bottom:50px;
    }

    .dropbtn:hover .genre-buttons{
        display:none;
    }

    .info{
        font-size:20px;
        width:100%;
    }

    #portrait{
        text-align:center;
        margin:0 auto 10px auto;
        width:300px;
        clear:both;
    }
}
