*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    outline:none;
}

html{
    width:100%;
    height:100%;
}

body{
    position:relative;
    z-index:0;
    width:100%;
    height:100%;
    background:rgb(27, 37, 34);
    color:rgb(233, 200, 140);
}

::-webkit-scrollbar{
    width:4px;
    background:rgb(20, 27, 32);
}

::-webkit-scrollbar-thumb{
    background:rgb(233, 200, 140);
    border: inherit solid 2px;
    border-radius:2px;
}

hr{
    border-bottom:none;
    border-color:rgba(233, 200, 140, .5);
    width:90%;
    margin-bottom:8px;
}

nav{
    position:relative;
    padding:15px;
    width:100%;
    height:50px;
    background:rgb(20, 27, 32);
}
nav h1{
    float:left;
}

.genre-buttons{
    position:absolute;
    bottom:5px;
    right:5%;
    z-index:0;
    transform:translateY(50%);
}

.genre{
    font-size:20px;
    border:none;
    padding:5px;
    padding-bottom:15px;
    background:rgb(27, 37, 34);
    color:rgb(233, 200, 140);
    border:inherit solid 2px;
    border-radius:4px;

    transition:transform .25s;
}

.genre:hover{
    color:rgb(255, 239, 196);
    cursor:pointer;
    transform: translateY(-10px);
}

.content-box{
    margin: 0 auto;
    width:90%;
    height:80%;
    text-align:center;
    padding:20px;

    overflow-y: scroll;

    background:rgb(47, 62, 48);
    border:inherit solid 2px;
    border-radius:4px;

    z-index:1;
}

#tab-title{
    display:inline-block;
    margin-left:10%;
    margin-top:5px;
    padding:4px 20px 4px 10px;
    
    background:rgb(47, 62, 48);
    border-radius:4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.thumbnail-box{
    display:inline-block;
    height:auto;
    width:48%;
    margin:.5%;
    text-overflow:ellipsis;
    text-align:center;
    /* overflow:hidden; */
    
    position:relative;
    z-index:1;

    transition: width .25s;
}

.thumbnail{
    opacity:.60;
    width:100%;
    box-shadow:0 0px 3px rgb(20, 27, 32);
    transition: transform .25s, opacity .25s, box-shadow .25s;
}

.thumbnail:hover{
    opacity:1;
    cursor:pointer;
    border-color: rgba(255, 239, 196, 1);
    box-shadow: 0 4px 4px rgb(20, 27, 32);
    transform:scale(1.05);
}

.thumbnail-title{
    opacity:0;
    padding:5px;
    margin:0 auto;
    /*Necessary for Ellipsis =============*/
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    /*===================================*/
    height:1.5em;
    font-size:1.2em;
    
    background:rgba(20, 27, 32, .9);

    position:absolute;
    bottom:.5em;
    transform:translateX(-50%);
    left:50%;

    transition: width .25s;
}

/* The Full Image View ========================== */

#full-view{
    opacity:0;
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    width:100%;
    height:100%;
    text-align:center;


    background:rgba(40,40,40,.95);
}

#full-view img{
    position:absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:-100%;
    max-width:100%;
    max-height:100%;

}

#title {
    position:absolute;
    top:10px;
    width:100%;
    transform:translateX(-50%);
    left:50%;
    font-size:2em;
    z-index:6;
    color:rgb(182, 182, 182);
    background:rgba(52, 52, 52, .5);

    transition:opacity .25s;
}

#title:hover{
    opacity:0;
}

#full-view button{
    position:absolute;
    bottom:0;
    right:15%;
    z-index:5;
    border:none;
    padding:15px;
    background:rgb(52, 52, 52);
    color:rgb(193, 193, 193);
    transition: color .25s, background .25s;
}

#full-view button:hover{
    cursor:pointer;
    background:rgb(35, 35, 35);
    color:rgb(213, 213, 213);
}

#description{
    display:inline-block;
    position:absolute;
    bottom:-1.5em;
    padding:15px;
    height:25%;
    width:100%;
    transform:translate(-50%, 100%);
    font-size:1.5em;
    background:rgb(35, 35, 35);
}

/*==================================================*/

footer{
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

/*Phone Screen*/
@media screen and (max-width:400px){
    .thumbnail-box{
        width:90%;
    }
}

@media screen and (min-width:600px){
    .thumbnail-box{
        width:31%;
    }
}

@media screen and (min-width:800px){
    .thumbnail-box{
        width:23%;
    }
}

@media screen and (min-width:1200px){
    .thumbnail-box{
        width:18%;
    }
}